<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>


   <div class="container" ng-controller='NarrowItDownController as narrowItDownList'>
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrowItDownList.getMatchedMenuItems()" >Narrow It Down For Me!</button>
      </div>

    <!-- found-items should be implemented as a component -->
    <found-items found="narrowItDownList.found" on-remove="narrowItDownList.removeItem(index)" ></found-items>
    </div>
 


</body>
</html>
